[login]
username=<Enter_username for pantheon2 login>
password=<Enter_password for pantheon2 login>

[uploader]
username=<enter username for pantheon uploader>
password=<enter password for pantheon uploader>

[admin_login]
username=<enter admin username required for teardown operations>
password=<enter admin password required for teardown operations>

[qa]
base_url=https://qa.example.com/
cp_url=https://cp.example.com/
solr_url=https://solr.example.com/
external_proxy_url=https://proxy.example.com/
cp_pantheon_api=https://pantheon_api.com/
behind_akamai_url=https://api.example.com/

[stage]
base_url=https://stage.example.com/
cp_url=https://cp.example.com/
solr_url=https://solr.example.com/
external_proxy_url=https://proxy.example.com/
cp_pantheon_api=https://pantheon_api.com/
behind_akamai_url=https://api.example.com/

[dev]
base_url=https://stage.example.com/
cp_url=https://cp.example.com/
solr_url=https://solr.example.com/
external_proxy_url=https://proxy.example.com/
cp_pantheon_api=https://pantheon_api.com/


[prod]
base_url=https://prod.example.com/
cp_url=https://cp.example.com/
solr_url=https://solr.example.com/
external_proxy_url=https://proxy.example.com/
cp_pantheon_api=https://pantheon_api.com/
behind_akamai_url=https://api.example.com/

[git_import_pod_details]
dev=<input url for git import tests>
qa=<input url for git import tests>
stage=<input url for git import tests>
prod=<input url for git import tests>

[proxy]
[proxy]
proxy_server=<<proxy server url>>

[test_repo]
test_repo_url=<URL for test repo to be used, this is a required value for the tests to execute>
repo_name=<Repository name as mentioned in pantheon2.yml in the above test repo>
test_repo_branch=<branch of the test repo to clone>
module_prefix=<Add a prefix text which is present in every module title to be used for search>
module_content_prefix=<Add a prefix text which is present for a single module title to be used for search>
assembly_prefix=<Add a prefix text for assemblies separately to search for assembly>
assembly_content_prefix=<Add a prefix text which is present for a single title to be used for search>
number_of_modules_uploaded=<number of modules uploaded,eg. 3>

[git_import_test_repo]
git_import_repo_url=<URL for test repo to be used, this is a required value for the tests to execute>
git_import_repo_name=<Repository name as mentioned in pantheon2.yml in the above test repo>
git_import_repo_branch=<specify the branch name from which you want to import, eg. master>
number_of_modules_imported=<specify the known number of modules you are uploading, eg. 10>
module_prefix=<Add a prefix text which is present in every module title to be used for search>
assembly_prefix=<Add a prefix text for assemblies separately to search for assembly>
number_of_resources_uploaded=<number of resources uploaded from repo, eg. 17>
number_of_modules_uploaded=<number of modules uploaded from repo, eg. 6>
number_of_assemblies_uploaded=<number of assemblies uploaded, eg.1>